$white: #ffffff;
$timeline-second-color: #458fb4;
$timeline-main-color: #3081ac;
$main-bg: linear-gradient(to bottom, #45484d 0%, #000000 100%);
$text-color: #eee;
$border-color: #888;
$bg-color-dark: #303336;